\section*{Zertifikate}
\begin{enumerate}[label=,leftmargin=0cm,itemsep=10pt]
#foreach( $empcertification in $employee.employeeCertification)
#set( $certification = $empcertification.certification )
\item $certification.name
#end
\end{enumerate}