\section*{Konferenzbeiträge}
\begin{longtable}{@{}p{6cm}p{10cm}}
#foreach( $empcommunity in $employee.employeeCommunity)
#set( $community = $empcommunity.community )
$community.year & $community.theme 
\newline $community.conference, $community.place \\
#end
\end{longtable}
\section*{Fachartikel}
\begin{enumerate}[label=,leftmargin=0cm,itemsep=10pt]
#foreach( $empPublication in $employee.employeePublication)
#set( $publication = $empPublication.publication )
\item $publication.title., in: $publication.journal, Nr. $publication.volume, S. $publication.startPage - $publication.endPage
#end
\end{enumerate}