\section*{Ausbildung/Beruflicher Werdegang}
\renewcommand{\arraystretch}{1.3}
\begin{longtable}{@{}p{6cm}p{10cm}}
#foreach( $empQualification in $employee.employeeQualification)
#set( $qualification = $empQualification.qualification )
\textbf{$qualification.range} & $qualification.place.replace('&', '\&') \\
\nopagebreak & $qualification.profil \\
#end
\end{longtable}
\renewcommand{\arraystretch}{2}