\section*{Fachkenntnisse}
\begin{longtable}{@{}p{6cm}p{10cm}}

#foreach( $category in $employee.skillCategories )

\textbf{$category.name.replace('&', '\&')} & #foreach( $skill in $employee.getSkillsForCategory($category) )$skill.name.replace('&', '\&')#if($foreach.hasNext), #end #end \\ 

#end
\end{longtable}
